* {
  margin: 0;
  padding: 0;
  font-family: arial;
}
.main {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  /* background-color: aquamarine; */
  width: 500px;
}
.logo {
  width: 90px;
  border-radius: 50%;
}
.image-logo {
  width: 80px;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 10px;
}
.content {
  /* background-color: blanchedalmond; */
  margin-left: 20px;
}
.head1 {
  padding-top: 10px;
  display: flex;
  margin-bottom: 10px;
}
.head {
  font-weight: 700;
  font-size: 18px;
}
.head-tag {
  font-size: 14px;
  margin-left: 14px;
  color: gray;
}
.head2 {
  margin-top: 20px;
}
.youtube-link {
  margin-top: 20px;
  display: flex;
  height: 100px;
}
.section-1 {
  border-right: 0;
  width: 150px;
  background-color: rgb(192, 192, 192);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.section-2 {
  box-shadow: inset 0.1px 0.5px 3px grey;
  border: 1px solid gray;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 20px;
  padding-left: 20px;
}
.head-tag1 {
  line-height: 22px;
  color: grey;
}