body {
    height: 3000px;
    
}
.entire {
    background-color: black;
}
.element {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
}
.right-bar {
    background-color: green;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
}
