body {
    height: 3000px;
}
.box {
    margin: 50px;
    background-color: grey;
    height: 200px;
    width: 400px;
    position: relative;
}
.button-class {
    margin: 50px;
    border-radius: 50%;
    background-color: black;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 20px;
    position: absolute;
    z-index: 10;
    top: -15px;
    left: -15px;
}
.time-stamp {
    background-color: black;
    color: white;
    position: absolute;
    padding: 4px;
    bottom: 10px;
    right: 10px;
}